.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 100px;
}

.login__logo{
    margin: 20px auto;
    width: 100px;
    object-fit: contain;
}

.login__container{
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: rgb(251, 250, 250);
}

.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > input{
    /* height: 30px; */
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    width: 92%;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e41 #846a29;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}
